* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e75d0e;
  display: grid;
  justify-content: center;
}

img {
  width: 350px;
  height: 130px;
}

.titulo {
  font-family: Roboto Mono;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  padding-top: 20px;
  color: #232f3e;
  text-shadow: #000000;
}

.quadro {
  background: white;
  width: 1000px;
  height: 570px;
  margin: 35px;
  margin-top: 2%;
  border-radius: 10px;
}

.container {
  background: white;
  margin: 25px;
  opacity: 0.9;
}

.secao {
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bolder;
  color: #232f3e;
}

.numSecao {
  background-color: #ff9900;
  color: #232f3e;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
  border-radius: 100%;
}

.inputs {
  text-align: center;
}

.input {
  width: 380px;
  height: 50px;
  background-color: rgb(216, 215, 215);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
}

.buscarBt {
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bolder;
  color: #f5f5f5;
  margin: 3%;
}

#botao_buscar {
  background-color: #3a4fad;
}

#botao_limpar {
  background-color: rgb(161, 41, 41);
}

#botao_salvar {
  background-color: #25b14f;
}

.msgErro {
  color: red;
}

.submeter {
  text-align: center;
  justify-content: center;
}
